/* 页脚与头图透明 */
#footer {
    background: transparent !important;
}

#page-header {
    background: transparent !important;
}

/* 白天模式遮罩透明 */
#footer::before {
    background: transparent !important;
}

#page-header::before {
    background: transparent !important;
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
    background: transparent !important;
}

[data-theme="dark"] #page-header::before {
    background: transparent !important;
}

/* 翻页按钮居中 */
#pagination {
    width: 100%;
    margin: auto;
}

.footer_custom_text {
    color: #939293;
}

#archive,
.card-widget,
.recent-post-item,
#category,
#post,
.search-dialog,
.local-search-box--input,
#page {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, .35) !important;
}

[data-theme="dark"] #archive,
[data-theme="dark"] .card-widget,
[data-theme="dark"] .recent-post-item,
[data-theme="dark"] #category,
[data-theme="dark"] #post,
[data-theme="dark"] .search-dialog,
[data-theme="dark"] .local-search-box--input,
[data-theme="dark"] #page {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, .35) !important;
}
